<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <i class="fas fa-bars" style="color:white"></i>
            <ul>
                <li><a href="/home"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="/attendence"><i class="fas fa-project-diagram"></i>Attendence</a></li>
                
                       

            </ul>

        </div>

    </div>

</body>

</html>